<nav class="navbar px-4 navbar-expand-lg navbar-light bg-light ">
    <a class="navbar-brand" href="/">cartOn</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav px-4">
        <li class="nav-item active px-4">
          <a class="nav-link" href="/cart">Cart <span class="sr-only p-2" style="background-color:paleturquoise;border-radius: 0.5em;">$0.0</span></a>
        </li>
       
        <li class="nav-item px-4 ">
          <a class="nav-link" href="/product">Add Products</a>
        </li>
        <li class="nav-item px-4 ">
          <a class="nav-link" href="/logout">Salir</a>
        </li>

      </ul>
    </div>
  </nav>